<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<%- include('style') %>
</head>
<body>
	<%=name %>
<ul class="sui-breadcrumb">
  <li><a href="#">首页</a></li>
  <li><a href="#">手机数码、电脑办公</a></li>
  <li class="active">智能手机</li>
</ul>	
	<%- include('script') %>
</body>
</html>